body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #f3f3f3), #b6b6b6;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  color: #000000;
}

header {
  background: #ffb7f5;
  color: #db49ff;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.login-container,
.Register-container {
  margin-top: 120px;
  background: #ece9e9;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 2, 29, 0.7);
  width: 350px;
  text-align: center;
}


h2 {
  text-align: center;
  color: #2400c5;
  margin-bottom: 25px;
  text-shadow: 0 0 8px rgba(145, 145, 145, 0.7);
}

label {
  display: block;
  text-align: left;
  margin: 10px 0 5px 5px;
  font-size: 0.95rem;
  color: #2400c5;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #444;
  border-radius: 6px;
  background: #d8d8d8;
  color: #000000;
  outline: none;
  font-size: 1rem;
  transition: border 0.3s, box-shadow 0.3s;
}

input:focus {
  border: 1px solid #1100ff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
}

button {
  width: 100%;
  margin-top: 10px;
  padding: 12px;
  border: none;
  border-radius: 6px;
  background: #2400c5;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
}

button:hover {
  background: #1c0194;
  transform: scale(1.05);
}

p,
a {
  font-size: 0.9rem;
  margin-top: 15px;
  color: #000000;
  text-decoration: none;
}

a {
  color: #2400c5;
}

a:hover {
  text-decoration: underline;
}


.Register-container {
  background: #ece9e9;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 2, 29, 0.7);
  width: 350px;
  text-align: center;
}